$icon-font-path: '/scripts/fonts/bootstrap/';
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

body {
	font-family: sans-serif;
}

.toggle-check-input {
	height: 0;
	width: 0;
	position: absolute;
}

.toggle-check-text {
	background: #ccc;
	border-radius: 1em;
	display: inline-block;
	position: relative;
	color: #fff;
	cursor: pointer;
	text-transform: uppercase;
	padding: 0.25em 0.5em 0.25em 2em;
	min-width: 2em;
	transition: background-color 0.15s;
}

.toggle-check-text:after {
	content: ' ';
	display: block;
	background: #FFF;
	width: 1.1em;
	height: 1.1em;
	border-radius: 1em;
	position: absolute;
	left: 0.3em;
	top: 0.25em;
	transition: left 0.15s, margin-left 0.15s;
}

.toggle-check-text:before {
	content: 'No';
}

.toggle-check-input:checked ~ .toggle-check-text {
	background: #8ad869;
	padding-left: 0.5em;
	padding-right: 2em;
}

.toggle-check-input:checked ~ .toggle-check-text:before {
	content: 'Yes';
}

.toggle-check-input:checked ~ .toggle-check-text:after {
	left: 100%;
	margin-left: -1.4em;
}
